<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h2>Create a job</h2>

  {% for message in form.job_title.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.job_lastdate.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.job_vaccancies.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.job_lookingfor.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.job_ctc.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.job_contract.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.job_workingdays.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.job_refer.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.job_desc.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.job_skills.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.job_company.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <div class = "row">
    <form class="col s12" action="{{ url_for('newjob') }}" method=post>
      {{ form.hidden_tag() }}
      <div class = "row">
        <div class = "input-field col s12">
          {% if form.job_title.errors %}
            {{ form.job_title(class_="validate invalid") }}
            {% for message in form.job_title.errors %}
            <label for="job_title" data-error={{ message }} data-success="right" class="active">Job title</label>
            {% endfor %}
          {% else %}

          {{ form.job_title(class_="validate",required=true) }}

          <label for="job_title" data-error="wrong" data-success="right">Job Title</label>
          {% endif %}
        </div>
      </div>
      <div class = "row">
        <div class = "input-field col s12">
          {% if form.job_lastdate.errors %}
            <input id="job_lastdate" name="job_lastdate" type="date" class="validate invalid datepicker">
            {% for message in form.job_lastdate.errors %}
            <label for="job_lastdate" class = "active">Last Date</label>
            {% endfor %}
          {% else %}

          <input id="job_lastdate" name="job_lastdate" type="date" class="datepicker">


          <label for="job_lastdate">Last Date</label>
          {% endif %}
        </div>
      </div>

      <div class = "row">
        <div class = "input-field col s12">

          {{ form.job_vaccancies(required=true, type = "number") }}
          <label for="job_vaccancies">Job Vaccancies</label>

        </div>
      </div>

      <div class = "row">
        <div class = "input-field col s12">

          {{ form.job_lookingfor(required=true) }}
          <label for="job_lookingfor">Looking For</label>

        </div>
      </div>

      <div class = "row">
        <div class = "input-field col s12">

          {{ form.job_ctc(required=true) }}
          <label for="job_ctc">Salary Package</label>

        </div>
      </div>

      <div class = "row">
        <div class = "input-field col s12">

          {{ form.job_contract(required=true) }}
          <label for="job_contract">Job Contract</label>

        </div>
      </div>

      <div class = "row">
        <div class = "input-field col s12">

          {{ form.job_workingdays(required=true, type="number") }}
          <label for="job_workingdays">Number of Working days</label>

        </div>
      </div>

      <div class = "row">
        <div class = "input-field col s12">

          {{ form.job_refer(required=true) }}
          <label for="job_refer">Job refered</label>

        </div>
      </div>

      <div class = "row">
        <div class = "input-field col s12">

          <textarea id="job_desc" name="job_desc" class="materialize-textarea" length="120" required="true"></textarea>
          <label for="job_desc">Job Description</label>

        </div>
      </div>

      <div class = "row">
        <div class = "input-field col s12">

          {{ form.job_skills(required=true) }}
          <label for="job_skills">Required Skills</label>

        </div>
      </div>

      <div class = "row">
        <div class = "input-field col s12">

          {{ form.job_company(required=true) }}
          <label for="job_company">Company name</label>

        </div>
      </div>

      <div class="row">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons">send</i>
        </button>
      </div>

  </form>
</div>
{% endblock %}
